body {
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

.container {
  width: 70%;
  margin: auto;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.a-container {
  width: 100%;
  padding: 100px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.left-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-image {
  width: 535px;
  overflow: hidden;
  line-height: 0px;
}
.main-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.thumbnail-images {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.thumbnail-images img {
  width: 168px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 733px;
}

.category {
  color: #528f7c;
  font-size: 20px;
}

.product-name {
  font-size: 39px;
  font-weight: bold;
  color: #241c23;
  margin: 5px 0px 20px 0px;
}

.detail-price {
  font-size: 39px;
  color: #528f7c;
}

.product-detail {
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* 均分空間 */
  height: 100%; /* 讓內容填滿父容器 */
  margin-top: 150px;
}

.size-section,
.quantity-section {
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #a3c4ba;
  font-size: 20px;
}

.stock {
  color: #528f7c;
  font-size: 20px;
  margin-top: 10px;
}

.color-options {
  display: flex;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.color-btn input {
  display: none;
}

.color-btn span {
  width: 76px;
  height: 76px;
  border-radius: 10px;
  display: block;
}

/* 顏色定義 */
.black span {
  background: #212529;
}
.white span {
  background: #ffffff;
  border: 1px solid #ccc;
}
.gray span {
  background: #d6d6d6;
}
.red span {
  background: #a73d3d;
}
.blue span {
  background: #4a61a8;
}
.green span {
  background: #6ea36b;
}

/* 讓選中的顏色加上外框，而不是邊框 */
.color-btn input:checked + span {
  outline: 2px solid #919191;
  /*outline-offset: 2px;*/ /* 讓外框稍微與按鈕分開 */
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.icon-button {
  border: none;
  font-size: 74px;
  color: rgb(197, 123, 123);
  /* background: none; */
  cursor: pointer;
  /* transition: color 0.3s; */
}

/* 點擊後變紅色 */
/* .icon-button.active {
    color: red;
  } */
   
.btn-primary,
.btn-secondary {
  padding: 13px 40px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  background: #bde6d9;
  color: #29755d;
  border: 3px solid #29755d63;
}

.btn-primary:hover {
  background: #7aaa9b;
  color: #29755d;
  border: 3px solid #29755d;
}

.btn-secondary {
  background: #f7bf58;
  color: white;
  border: 3px solid #ffca8d;
}

.btn-secondary:hover {
  background: #f3b46a;
  color: #a26318;
  border: 3px solid #c87a1e;
}

/* section-b */

.b-container {
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
  color: black;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 9.6px;
  display: block;
}

.b-detail-section {
  width: 1240px;
  text-align: center;
  justify-content: center;
  line-height: 0px;
}
.b-detail-section img {
  width: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  margin-bottom: 35px;
}

/* section-c */
.items-section {
  width: 100%;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* .title-bg{
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #528f7c;
  padding: 15px 0 15px 0;
  border-radius: 15px 15px 0 0;
} */
.title {
  color: #000000;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 9.6px;
}

/* 卡片區 */
.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-button {
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: none;
}

.icon-button:hover {
  background-color: #e6eaee;
  border-radius: 50%;
}

.icon-Right,
.icon-Left {
  color: #528f7c;
  font-size: 30px;
  background: none;
}

.detail-section {
  width: 95%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 25%;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  border-radius: 15px;
  display: inline-block;
  margin: 15px;
}

.img-container {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
  line-height: 0px;
}

.card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.07);
  box-shadow: 0px 6px 7.5px 4px rgba(114, 124, 142, 0.3);
}
.card-details {
  padding: 20px;
  border-radius: 15px;
}

.product-title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price-container {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 20px;
  color: #528f7c;
  display: inline-block;
}

.card-icons {
  border: none;
  cursor: pointer;
  /* width: 25px;
  height: 25px; */
  background: none;
}

.icon-Like-Stroke,
.icon-Cart {
  color: #528f7c;
  font-size: 20px;
  background: none;
margin: 3px;
}



/* more */

.more {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* 讓內容垂直對齊 */
  margin-top: 50px;
  width: 95%;
}

.text-box {
  display: flex;
  justify-content: end;
  align-content: center; /* 讓文字和底線 + 箭頭都對齊 */
  position: relative;
}

.text {
  color: #528f7c;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2; /* 避免行高過大影響對齊 */
  letter-spacing: 6.24px;
  text-align: center;
}

.text-box .icon-Right{
  font-size: 26px;
}