body{
    background-color: #528F7C;
}

.sport{
    z-index: 5;
}

.col{padding: 0;}
a {text-decoration: none;}

.sportType{
    position: relative;
    padding: 0;
    margin: 0;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px dashed #fff;
    border-left: 1px dashed #fff;
    opacity: 60%;

    &:hover{
    opacity: 100%;
    }
}

.sportType:hover .sportIcon,
.sportType:hover .sportTitle {
    transform: scale(1.5); /* 放大 1.5 倍 */
    transition: transform 0.3s ease-in-out;
    margin: 50px;
}

.sportTitle{
    margin-top: 50px;
    color: #fff;

    /* &:hover{
        font-size: 64px;
    } */
}





.sportPhoto{
    width: 700px;
    height: 700px;
    background-image: url("../public/photo/activity-basketballCourt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    right: 400px;
    top: 50px;
    /* opacity: 60%; */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
    /* display: none; */


}

.sportPhotoHover{
    width: 700px;
    height: 700px;
    background-image: url("../public/photo/activity-basketballCourt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    right: 400px;
    top: 50px;
    opacity: 60%;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
    /* display: block; */

    /* opacity: 1; */
    /* display: none; */
}

.sportPhoto1{
    width: 700px;
    height: 700px;
    background-image: url("../public/photo/activity-volleyballCourt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    left: 400px;
    top: 300px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
    /* display: none; */


}

.sportPhoto1Hover{
    width: 700px;
    height: 700px;
    background-image: url("../public/photo/activity-volleyballCourt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    left: 400px;
    top: 300px;
    opacity: 60%;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
    /* display: block; */
}


.sportPhoto2{
    width: 700px;
    height: 700px;
    background-image: url("../public/photo/activity-shuttlecockCourt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    top: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
    /* display: none; */


}

.sportPhoto2Hover{
    width: 700px;
    height: 700px;
    background-image: url("../public/photo/activity-shuttlecockCourt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    top: 20px;
    opacity: 80%;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
    /* display: block; */

}