@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p7c97y');
  src:  url('fonts/icomoon.eot?p7c97y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p7c97y') format('truetype'),
    url('fonts/icomoon.woff?p7c97y') format('woff'),
    url('fonts/icomoon.svg?p7c97y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-volleyball:before {
  content: "\e911";
}
.icon-Badminton:before {
  content: "\e900";
}
.icon-Bascketball:before {
  content: "\e901";
}
.icon-User:before {
  content: "\e910";
}
.icon-Search:before {
  content: "\e90f";
}
.icon-More:before {
  content: "\e90e";
}
.icon-Cart:before {
  content: "\e902";
}
.icon-Edit:before {
  content: "\e905";
}
.icon-Dropdown:before {
  content: "\e903";
}
.icon-Dropup:before {
  content: "\e904";
}
.icon-FB:before {
  content: "\e906";
}
.icon-IG:before {
  content: "\e907";
}
.icon-Left:before {
  content: "\e908";
}
.icon-Left-Fill .path1:before {
  content: "\e909";
  color: rgb(217, 217, 217);
}
.icon-Left-Fill .path2:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(122, 170, 155);
}
.icon-Like-Storke:before {
  content: "\e90b";
}
.icon-Mail:before {
  content: "\e90d";
}
.icon-like-Fill:before {
  content: "\e90c";
}
